<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Urban Skiers</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<header>
	<div class="navbar2">
		<img src="us-logo.png" class="logo2">
			<ul>
				<li>Welcome, @User
				<li><a href="/homepage.erb">Home</a>
				<li><a href="/profile.erb">Profile</a>
				<li><a href="/connections.erb">Connections</a>
				<li><a href="logout">Log Out</a>
			</ul>
	</div>
</header>	
<body>
	<div class="bodycontainer">	
		<div class="bodyleftcontainer">
			<div class="profilephoto">
				Enter profile photo here
			</div>
			<div class="namedisplay">
				NAME
			</div>
			<div class="shareupdate">

			</div>
		</div>

		<div class="bodyrightcontainer">
			<div class="communityposts">
				COMMUNITY POSTS
			</div>
			<div class="communityfeed">
				COMMUNITY FEED
			</div>
		</div>
	</div>

</body>

</html>