<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Urban Skiers</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<header>
	<div class="navbar">
		<img src="us-logo.png" class="logo">
		<h2 class="urbanshredders">
			URBAN SHREDDERS
		</h2>
			<div class="email">
				<form method="post" action="/login" >
					<input 
					  type="text" 
					  name="email" 
					  placeholder="Email">
				</div>	
				<div class="password">
					<input 
					type="password" 
					name="password" 
					placeholder="Password">
				</div>
				<div class="loginbutton">
					<input type="submit" name="login" value="Log In" id="loginbutton" />
				</div>	
				</form>
			</div>	
	</div>
</header>	
<body>
	<div class="introdiv">
		<h1>Discover local NYC shredders</h1>	
	</div>
	<div class="frontcontainer">
		<img src="photo1.jpg" class="frontphoto">
		<div class="signupwrapper">	
			<form method="post" action="/login">
				<div class="signupnow">
					<h2 class="signup">Sign up now</h2>
				</div>
				<div class="firstname">
						<input type="text" name="fname" placeholder="First Name">
				</div>	
				<div class="lastname">
						<input type="text" name="lname" placeholder="Last Name">
				</div>
				<div class="newemail">
						<input type="text" name="email" placeholder="Email">
				</div>	
				<div class="newpassword">
						<input type="text" name="password" placeholder="Password">
				</div> 
				<div class="legalnote">
					By clicking Join Now, you agree to Urban Shredder's User Agreement, Privacy Policy and Cookie Policy.
				</div>	
				<div class="joinnow">
					<input type="submit" value="Join Now" id="submit" />
				</div>			
			</form>
		</div>
	</div>
</body>

</html>