body {
	background: url("wallpaper.jpg");
	font-size: 16px;
	font-family: Candara;
}
.navbar {
	width: 100%;
	height: 100px;
	background-color: #000;
	display: inline-block;
}
.introdiv {
	width: 900px;
	height: 90px;
	background-color: #fff;
	position: relative;
	margin: 0 auto;
	position: center;
	top: -20px;
}
.frontcontainer {
	width: 900px;
	margin: 0 auto;
}
.frontphoto {
	height: 400px;
	width: 500px;
	background-color: #fff;
	float: left;
	border: 4px solid white;
	position: relative;
}
h1 {
	font-family: Candara;
	font-size: 72px;
}
.signupnow {
	width: 380px;
	height: 80px;
	background-color: #fff;
	float: right;
}
h2 {
	font-family: Candara;
	font-size: 60px;
	margin: 0px;
	text-align: center;
}
.firstname {
	width: 180px;
	height: 40px;
	background-color: #fff;
	float: left;
	display: inline-block;
	margin-top: 15px;
}
.lastname {
	width: 180px;
	height: 40px;
	background-color: #fff;
	float: right;
	display: inline-block;
	margin-top: 15px;
}
.signupwrapper {
	width: 380px;
	float: right;
}
.newemail {
	width: 380px;
	height: 40px;
	background-color: #fff;
	float: right;
	margin-top: 15px;
}
.newpassword {
	width: 380px;
	height: 40px;
	background-color: #fff;
	float: right;
	margin-top: 15px;
}
.legalnote {
	width: 380px;
	height: 40px;
	background-color: #fff;
	float: right;
	margin-top: 15px;
	font-size: 14px;
	text-align: center;
}
.joinnow {
	width: 135px;
	height: 40px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 15px;
}
#submit {
 color: #fff;
 font-size: 16px;
 width: 135px;
 height: 40px;
 border: none;
 margin-top: 15px;
 padding: 0;
 background: #003366 0 0 no-repeat; 
}
.logo {
	width: 100px;
	height: 100px;
	display: inline-block;
}
.urbanshredders {
	color: #fff;
	font-size: 70px;
	font-family: Candara;
	display: inline-block;
	margin-left: 60px;
}
.email {
	width: 180px;
	height: 40px;
	background-color: #000;
	display: inline-block;
	color: #fff;
	position: relative;
	margin-left: 20px;
	bottom: 25px;
}
.password {
	width: 180px;
	height: 40px;
	background-color: #000;
	display: inline-block;
	color: #fff;
	position: relative;
	bottom: 25px;
	right: 30px;
}
#loginbutton {
 color: #fff;
 font-size: 15px;
 width: 110px;
 height: 30px;
 border: none;
 display: inline-block;
 margin-top: -60px;
 float: right;
 background: #003366 0 0 no-repeat;
 position: relative;
 right: 30px;
 bottom: 10px;
}
.navli {
	display: inline-block;
	font-size: 30px;
	color: #fff;
	padding: 40px;
}
.navul {
	position: absolute;
	margin-left: 30px;
	margin-top: -95px;
}
a {
	color: white;
	text-decoration: none;
}
.navbar2 {
	width: 100%;
	height: 75px;
	background-color: #000;
	display: inline-block;
}
.logo2 {
	width: 75px;
	height: 75px;
	display: inline-block;
}
a:hover {
	text-decoration: underline;
	background: url("http://tribwxin.files.wordpress.com/2013/12/snow-2.jpg");
	color: #fff;
	border-radius: 10px;
}
.bodycontainer {
	width: 1000px;
	margin: 0 auto;
	margin-top: 25px;
}
.bodyleftcontainer {
	width: 300px;
	height: 600px;
	float: left;
}
.bodyrightcontainer {
	width: 600px;
	float: right;
	height: 600px;
	margin-right: 50px;
}
.profilephoto {
	width: 200px;
	height: 200px;
	background-color: #fff;
	border-radius: 200px;
	margin: 0 auto;
}
.namedisplay {
	width: 300px;
	height: 100px;
	margin: 0 auto;
}
.shareupdate {
	width: 600px;
	height: 75px;
	background-color: #fff;
	margin-bottom: 10px;
}
.communityfeed {
	width: 600px;
	height: 400px;
	background-color: #fff;
}
.resizedposttextbox {
	width: 500px; 
	height: 70px;
}
#post {
 color: #fff;
 font-size: 15px;
 width: 95px;
 height: 76px;
 border: none;
 display: inline-block;
 margin-top: -60px;
 float: right;
 background: #003366 0 0 no-repeat;
 position: relative;
 bottom: 16px;
}
input::-webkit-input-placeholder {
   font-size: 16px;
   text-transform: uppercase;
}
.delete {
	color: #000;
	font-weight: bold;
}